1. My backend is built on Go
2. Im developing on Linux
3. My testing framework is Go's testing package
4. Never create redundent code and always split up logic instead of everything in one file
5. Always check if a function or Type etc. already exists before creating it
6. Always check if a file already exists before creating it
7. Always check if a directory already exists before creating it
8. Never edit any Files outside of the Users request without any reason
